{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ title }}
{% endblock %}

{% block body %}

    <h1>Change the {{ title }} by using <a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">markdown text</a></h1>
    <form id="newcontentdiv" action="{{ title }}" method="POST">
        {% csrf_token %}
        <input name="title" type="text" minlength="1" maxlength="100" required value="{{ title }}">
        <button type="submit">Save changes</button>
        <div>&nbsp</div>
        <textarea id="newcontent" name="newcontent" minlength="5">{{ content }}</textarea>
    </form>

{% endblock %}